body {
  background: #f4f2e9;
}

h2 {
  text-align: center;
  margin-top: 20px;
  font-size: 38px;
  font-family: "archivo black", sans-serif;
}

.line1 {
  margin-top: 60px;
}
.line2 {
  margin-bottom: 60px;
}
.line1,
.line2 {
  font-size: 18px;
  text-align: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.formular-tekst {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
  margin-right: 23em;
}

/* formular boksen, lavet i codepen */

input::input-placeholder,
textarea::input-placeholder {
  color: #000000;
  font-size: 0.875em;
}

input:focus::input-placeholder,
textarea:focus::input-placeholder {
  color: #bbb5af;
}

input::placeholder,
textarea::-placeholder {
  color: #000000;
  font-size: 0.875em;
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: #bbb5af;
}

input::placeholder,
textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder,
textarea::focus:placeholder {
  color: #bbb5af;
}

input::placeholder,
textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::input-placeholder,
textarea:hover::input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::input-placeholder,
textarea:hover:focus::input-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder,
textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder,
textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder,
textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder,
textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder,
textarea:hover::placeholder {
  color: #000000;
  font-size: 0.875em;
}

input:hover:focus::placeholder,
textarea:hover::focus:placeholder {
  color: #cbc6c1;
}

#form {
  position: relative;
  width: 500px;
  margin: auto;
}

input {
  font-family: "Lato", sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;

  background: transparent;
  outline: none;
  color: #ffff;

  border: solid 1px #b3aca7;
  border-bottom: none;

  transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input:hover {
  background: #ece9dd;
  color: #000000;
}

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;

  background: transparent;
  outline: none;

  color: #ffff;
  font-family: "Lato", sans-serif;
  font-size: 0.875em;

  border: solid 1px #b3aca7;

  transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #ece9dd;
  color: #000000;
}

#submit {
  width: 502px;

  padding: 0;
  margin: -5px 0px 0px 0px;

  font-family: "Lato", sans-serif;
  font-size: 0.875em;
  color: #aca49c;
  font-weight: 100;

  outline: none;
  cursor: pointer;

  border: solid 1px #b3aca7;
  border-top: none;
}

#submit:hover {
  color: #000000;
}
